* {
    margin: 0;
    padding: 0;
    font-family: 'Georgia', serif; /* tipo de fonte dos elementos*/
    scroll-behavior: smooth;
}

body {
    background-color:  #e9ecef;
}

.centralizado {
    text-align: center;
}

a {
    text-decoration: none;  /*sem decoracao*/
    color: inherit; /*heranca*/
   
}

.container {
    background-color: rgb(179, 197, 200);
    margin: 0px auto;
    width: 1200px;
    margin: 0px auto;
    box-shadow: 0px 0px 40px rgba(130, 5, 5, 0.1);
}

.Principal {
    position: fixed;
    width: 80px;
    height:40px;
    right: 40px;
    bottom: 25px;
    font-size: .9em;
    border-radius: 60px;
    text-transform: uppercase;
    text-align: center;
    line-height: 40px;
    background-color: #f60abf;
    border: 3px solid #010509;
  
}
/*
.Principal:hover {
    background-color: #6b0723;
    
}*/

.tabela-titulo {
    font-weight: 300;
    font-size: 1.5em;
    margin-top: 10px;
    text-transform: lowercase;
    padding: 25px 0;
    background-color: #e9ecef;
}

.tabela {
    display: flex;
    flex-wrap: wrap;
    width: 1170px;
    margin: 40px auto;

}

.Espacador {
    height: 25px;
    width: 100%;
}


.elemento {
    width: 55px;
    height: 55px;
    padding: 2px;
    margin: 2px;
    border-radius: 3px;
    

}

.elemento:hover {
    -moz-transform: scale(1.5);
	-webkit-transform: scale(1.5);
	transform: scale(1.5);
    cursor: zoom-in ;
    border: 2px solid #110606;
    background-color: #8d928c;
       
}

.vazio {
    border-color: rgb(255, 255, 255);
    cursor: inherit !important;
    
}

.simbolo {
    text-align: center;
    font-weight: 600;
    font-size: 1.3em;
}


.numero-atomico {
    text-align: right;
    font-size: .6em;

}

.peso-atomico {
    text-align:center;
    font-size: .6em; ;
}


.nome {
    text-align: center;
    font-size: .6em;
}


.nao-metais {
    background-color: #a1d344;
   
}

.metais-alcalinos {
    background-color: #f6e716;
    
}

.metais-alcalinos-terrosos {
    background-color: #fbc505;
    
}

.metaisde-Transicao {
    background-color: #eb8e8e;
  
}

.outros-metais {
    background-color: #237b98;
   
}

.semimetais {
    background-color: #d888eb;
 
}

.halogenios {
    background-color: #70cbeb;
   
}

.gases-nobres {
    background-color: #3d9ee3;
  
}

.lantanideos {
    background-color: #90e3e9;
   
}

.actinidios {
    background-color: #dcadd6;
   
}

.h2-Titulo{
    font-size-adjust: 50% ;
    font-weight: 600;
    letter-spacing: .2rem;
    text-align: left ;
    padding: 5px 0;
    background-color: #a7c6e4;
    border: 2px solid #a7c6e4;
    width: 1000px;
    margin: 50px auto 0 auto;
    text-indent: 30px;
}

.legenda {
    display: flex;
    justify-content: center;
    border: 1px solid #0f1010;
    width: 970px;
    margin: 0 auto;
    padding: 15px;
    background-color: #929699;
}


.legenda-cor {
    width: 800px;
    font-size: .8em;
    font-weight: 300;
    margin-top: 20px;
}

.legenda-cor ul {
    display: grid ;
    grid-template-columns: 25% 25% 25% 25%;
    margin-top: 5px;
    margin-bottom: 5px;
    border :rgba(12, 1, 1, 0.1)
}

.legenda-cor ul li {
    list-style: none;
    margin: 3px;

}

.circulo{
    
    width: 25px;
    height: 25px;
    border-radius:  80%;
    border :rgba(12, 1, 1, 0.1)

}


table {
    min-width: 1200px;
    margin: 90px auto 20px auto;
    border-collapse: collapse;
}

table caption {
    font-weight: 300;
    font-size: 1.5em;
    text-transform: capitalize;
    padding: 25px 0;
}

table th{

     padding: 15px 15px;

}
table td {
    padding: 15px 15px;
}

table thead {
    background-color: #e9ecef;
    font-size: .8em;
}

table tbody tr:target {
    border: 4px solid #110606;
    font-size-adjust: 20%

}
